@page
@model Index1Model
@{
    ViewData["Title"] = "About Us";
}
<div class= "text-center">
<h1 class="display-4">We Try Our Best To Help The Community</h1>
<p>Here at Blind And Low Visions NZ, we strive to give our customers the best experience we can.</p>
</div>