@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1 class="display-4">Our Contact Services</h1>
    <p>If you would like know more about our activities, feel free to contact our support team.<p>
