@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Blind And Low Visions NZ</h1>
    <p>New Zealand's Leading Eyecare Service.</p>
</div>
