@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Minecraft Pros! To Sign up, or hire one of our coaches, please wait till us staff finish setting up the website</p>
</div>
