@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="background-color:gray;">Blind And Low Visions NZ</h1>
    <p>New Zealand's Leading Eyecare Service.</p>
</div>

<div class="text-center">
    <a href="https://blindlowvision.org.nz/" target="_blank">Visit The Real Blind Low Visions NZ Webpage For Now!</a>
</div>
<html>
<body>
    
    <img src="~/img/Blind Whamen.jpg", style="width:1100px;height:500px;">

</body>
</html>

<div class="text-center">
    <p style="background-color:gray">Owned By Keane</p>
</div>


