@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="background-color:gray;">Blind And Low Visions NZ</h1>
    <p>New Zealand's Leading Eyecare Service.</p>
</div>

<a href="https://blindlowvision.org.nz/" target="_blank">Visit The Real Blind Low Visions NZ Webpage For Now!</a>



