@page
@model KeanesWebApp.NewsAndEventsModel
@{
    ViewData["Title"] = "NewsAndEvents";
}

<div class="text-center">
    <h1 class="display-4">We Provide You With The Latest Updates On Our Services</h1>
    <p>Lord Have Mercy On Us All.<p>
