@page
@model KeanesWebApp.ShopModel
@{
    ViewData["Title"] = "Shop";
}
    <div class="text-center">
        <h1 class="display-4">We Provide You With The Best Equiqment</h1>
        <p>Coming Soon.<p>

